streamlit
pandas
numpy
scikit-learn
sqlalchemy
psycopg2-binary
python-dotenv
requests
beautifulsoup4
joblib
boto3
sagemaker>=2.200,<3.0
google-cloud-aiplatform
google-adk
google-genai
matplotlib
seaborn
ucimlrepo
openai
